body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: 100% 100%;
    color: black;
  }

  /*admin sign in css*/
  .login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    border: 1px solid black;
    padding: 50px;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.3);
  }
  .login-box h1 {
    color: black;
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #0093e9;
    margin-bottom: 40px;
    padding: 11px 0;
    padding-top: 0;
  }
  .textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 20px 0;
    background-color: aliceblue;
  }
  .textbox input {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 90%;
    float: left;
    margin: 0 10px;
  }
  .btn {
    width: 100%;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 23px;
    margin: 12px 0;
    transition: 0.3s;
    background-color: #0093e9;
    cursor: pointer;
  }
  
  .btn:hover {
    color: #0093e9;
    background-color: white;
  }
  
  body a {
    color: rgb(27, 11, 11); 
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
  
/* admin header css */

.message{
  position: sticky;
  top:0;
  max-width: 100%;
  margin:0 auto;
  background-color: wheat;
  padding:1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:1.5rem;
  z-index: 1100;
}

.message span{
  font-size: 2rem;
  color: black;
}

.message i{
  cursor: pointer;
  color: red;
  font-size: 2rem;
}

.message i:hover{
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #0093e9;
  background-image: linear-gradient(10deg, #0094e98d 0%, #80d0c76e 100%);
  color: #e0dbdc;
  margin-top: 0;
}

.loogo {
  margin-top: 10px;
  height: 60px;
}

#admin_title {
    font-size: 2.5rem;
    text-decoration: underline;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #efebeb;
  text-decoration: none;
  font-size: 28px;
}

.nav-links a:hover {
  color: #e0b048;
}

.nav-links .active {
  color: #175942;
  background-color: #c2d7ef;
  border-radius: 10%;
}

.nav-links #myButton {
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: .7rem;
  background-color: white;
  color: #0093e9;
  transition: .3s;
}

.nav-links #myButton:hover{
  background-color: #0093e9;
  color: white;
}

#profile {
  position: absolute;
  right: 2rem;
  width: 15rem;
  height: 10rem;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 1rem;
  display: none;
  z-index: 1500;
}

#profile p{
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  color: #0093e9;
}

#profile .delete-btn{
  position: absolute;
  text-decoration: none;
  border: 1px solid black;
  padding: .7rem 2rem;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: red;
  border-radius: .5rem;
  color: white;
  margin-left: 2.5rem;
}

#profile .delete-btn:hover{
  background-color: white;
  color: red;
}

#profile #para2{
  text-align: center;
  font-size: 20px;
  margin: 0;
  color: red;
}

#profile .flex-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#profile .flex-btn .option-btn {
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid black;
  color: white;
  background-color: #0093e9;
  padding: .5rem 1.5rem;
  border-radius: .5rem;
}

#profile .flex-btn .option-btn:hover {
  background-color: white;
  color: #0093e9;
}

/* admin dashboard */
.dashboard .box-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 5rem 0;
 }

.dashboard .box-container .box{
    padding:1rem;
    text-align: center;
    border: 2px solid black;
    height: 250px;
    width: 350px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    background-color: whitesmoke;
 }
 
 .dashboard .box-container .box h3{
    font-size: 2.7rem;
    color: black;
    margin: 0;
    padding: .5rem;
 }
 
 .dashboard .box-container .box p{
    padding: 1.3rem;
    border-radius: .5rem;
    background-color: wheat;
    font-size: 1.6rem;
    color: black;
    margin: 1rem;
    margin-bottom: 2.5rem;
 }
 
 .dashboard .box-container .box a {
    padding: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: .5rem;
 }

 .dashboard .box-container .box a:hover {
    border: 1px solid wheat;
 }

/* see_u_certificates */
 .c1_title {
    text-align: center;
    font-size: 3.5rem;
  }
  
  .data-list {
    list-style: none;
    padding: 0;
  
  }
  
  .data-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .data-item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin-right: 20px;
    margin-left: 10px; */
  }
  
  .data-details {
    display: flex;
    flex-direction: column;
  }
  .data-details h3 {
    font-size: 2rem;
    margin: 0;
  }
  
  .data-details p {
    margin: 0;
    font-size: 1.5rem;
    color: #999;
  }
  
  .data-item a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    font-size: 1.5rem;
    border-radius: 5px;
    /* margin-left: 20px; */
    padding: 5px;
  }
  
  .data-item a:hover {
    color: white;
    background-color: #3CA8E8;
  }
  
  .data-item:hover{
    background-color: whitesmoke;
  }

  /* u_updateform */
  